<div class="modal" id="modal-add-new-photo"
     ng-style="show && {'display':'block'}">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="my-title" id="modal-add-new-photoLabel">Add photo</h4>
    </div>
    <div class="modal-body">
      <form id="vehicle-photo" class="form-horizontal no-padding"
            name="vehicle-photo" action=""
            method="">
        <label for="photoUrl" class="control-label col-sm-4">Enter URL:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="photoUrl"
                 ng-model="photoUrl"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="closePhotoModal()"
              class="btn btn-default clear-form">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" ng-click="uploadPhoto()">
        Done
      </button>
    </div>
  </div>
</div>
