<div class="modal" ng-style="showModalForAdding && {'display':'block'}">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="my-title" id="">Add New Vehicle</h4>
    </div>
    <div class="modal-body">
      <form id="add-new-vehicle" name="add-new-vehicle" action=""
            method="" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Brand:</label>
          <div class="col-md-10">
            <select name="brand" class="form-control"
                    ng-model="addNewVBrand"
                    ng-change="selectModelFromEdmunds()">
              <option>All</option>
              <option ng-repeat="brand in brands"
                      value="{{ brand }}">{{ brand }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Model:</label>
          <div class="col-md-10">
            <select ng-model="addNewVModel" class="form-control">
              <option ng-repeat="model in edmundsModels"
                      value="{{ model }}">{{ model }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Year:</label>
          <div class="col-md-10">
            <input type="number" class="form-control" ng-model="addNewVYear"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Km:</label>
          <div class="col-md-10">
            <input type="number" class="form-control" ng-model="addNewVKm"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Plate
            No.:</label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="addNewVPlate"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">ID:</label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="addNewVId"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">cCM:</label>
          <div class="col-md-10">
            <input type="number" class="form-control" ng-model="addNewVCcm"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Registered
            Until:</label>
          <div class='input-group date col-md-10'>
            <input type="date" class="control-label" ng-model="addNewVRegUntil"
                   style="border:none;" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">For
            Sale:</label>

          <div class="col-md-10">
            <select class="form-control" ng-model="addNewVForSale">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">On
            Reparation:</label>
          <div class="col-md-10">
            <select class="form-control" ng-model="addNewVOnRep">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default clear-form"
              ng-click="closeAddNewVehicleModal()">Discard
      </button>
      <button type="button"
              class="btn btn-primary" ng-click="AddNewVehicle()">Submit
      </button>
    </div>
  </div>
</div>
