<div class="modal" role="dialog" ng-style="showMessageInModal && {'display':'block'}">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <p>
          <strong>From:</strong>
                 <span class="email-in-modal">
                  {{messageFrom}}
                </span>
        </p>
        <p>
          <strong>To:</strong>
                <span class="email-in-modal">
                  {{messageTo}}
                </span>
        </p>
        <p>
          <strong>Date:</strong>
                <span class="email-in-modal">
                  {{messageDate}}
                </span>
        </p>
        <p>
          <strong>Title:</strong>
                <span class="email-in-modal">
                  {{messageTitle}}
                </span>
        </p>
        <p>
          <strong>Message:</strong>
        <div class="email-in-modal">
          {{messageBody}}
        </div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeMessage()" class="btn btn-default">
          Close
        </button>
      </div>
    </div>
</div>
