<div class="modal" ng-style="sendNewMessageModal && {'display':'block'}">
    <div class="modal-content">
      <form id="form-new-message" action="" method="" name="respond">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p>
            <strong>To:</strong>
              <span class="email-respond">
                {{newMessageTo}}
              </span>
          </p>
          <p>
            <strong>Title:</strong>
            <input type="text" ng-model="messageSubject">
          </p>
          <p>
            <strong>Message:</strong>
          <div class="email-respond">
            <textarea ng-model="newMessageBodyText" cols="50"
                      rows="3"></textarea>
          </div>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveDraft()">Save
            draft
          </button>
          <button ng-if="tabs == 'drafts'" type="button"
                  class="btn btn-default"
                  data-dismiss="modal" ng-click="deleteDraft(messageKey)">Delete draft
          </button>
          <button type="button" class="btn btn-default" ng-click="closeMessage()">Discard
          </button>
          <button type="button" class="btn btn-primary" ng-click="respondAndSend()">
            Send
          </button>
        </div>
      </form>
    </div>
</div>
