<div class="modal" role="dialog" ng-style="showService && {'display':'block'}">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="my-title">Previous servicing</h4>
    </div>
    <div class="modal-body">
      <form name="" action="" method="">
        <p ng-init="disableEntryDateChange=true;">
          <strong>Date:</strong>
                 <span class="edit-wrapper">
                  <span class="edit-service" ng-show="disableEntryDateChange">
                    {{ oneEntry.obj.date }}
                  </span>
                   <span ng-hide="disableEntryDateChange">
                    <input type="text" required ng-model="entryDate"/>
                  </span>
                  <span class="pencil-click-to-edit"
                        ng-click="disableEntryDateChange = !disableEntryDateChange">
                    <i
                      class="material-icons small-pencil-icon hover-cursor"
                      ng-show="disableEntryDateChange">edit</i>
                    <i class="material-icons small-close-icon hover-cursor"
                       ng-hide="disableEntryDateChange"
                    >close
                    </i>
                  </span>
                </span>
        </p>
        <p ng-init="disableEntryMechanistChange=true;">
          <strong>Mechanist:</strong>
                 <span class="edit-wrapper">
                  <span class="edit-service"
                        ng-show="disableEntryMechanistChange">
                    {{ oneEntry.name }}
                  </span>
                   <span ng-hide="disableEntryMechanistChange">
                    <input type="text" required ng-model="entryMechanist"/>
                  </span>
                  <span class="pencil-click-to-edit"
                        ng-click="disableEntryMechanistChange = !disableEntryMechanistChange">
                    <i
                      class="material-icons small-pencil-icon hover-cursor"
                      ng-show="disableEntryMechanistChange">
                      edit</i>
                    <i
                      class="material-icons small-close-icon hover-cursor"
                      ng-hide="disableEntryMechanistChange"
                    >close
                    </i>
                  </span>
                </span>
        </p>
        <p ng-init="disableEntryDistanceChange=true;">
          <strong>Km:</strong>
                 <span class="edit-wrapper">
                  <span class="edit-service"
                        ng-show="disableEntryDistanceChange">
                    {{ oneEntry.obj.distance }}
                  </span>
                   <span ng-hide="disableEntryDistanceChange">
                    <input type="text" required ng-model="entryKm"/>
                  </span>
                  <span class="pencil-click-to-edit"
                        ng-click="disableEntryDistanceChange = !disableEntryDistanceChange">
                    <i
                      class="material-icons small-pencil-icon hover-cursor"
                      ng-show="disableEntryDistanceChange">
                      edit</i>
                    <i
                      class="material-icons small-close-icon hover-cursor"
                      ng-hide="disableEntryDistanceChange"
                    >close
                    </i>
                  </span>
                </span>
        </p>
        <p ng-init="disableEntryReportChange=true;">
          <strong>Description:</strong>
                 <span class="edit-wrapper">
                  <span class="edit-service" ng-show="disableEntryReportChange">
                    {{ oneEntry.obj.report }}
                  </span>
                   <span ng-hide="disableEntryReportChange">
                    <input type="text" required ng-model="entryDesc"/>
                  </span>
                  <span class="pencil-click-to-edit"
                        ng-click="disableEntryReportChange = !disableEntryReportChange">
                    <i
                      class="material-icons small-pencil-icon hover-cursor"
                      ng-show="disableEntryReportChange">
                      edit</i>
                    <i
                      class="material-icons small-close-icon hover-cursor"
                      ng-hide="disableEntryReportChange"
                    >close
                    </i>
                  </span>
                </span>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-default" ng-click="closePreviousServicingModal()">
        Discard
      </button>
      <button type="button"
              class="btn btn-primary" ng-click="updateServiceEntry(oneEntry)"
              ng-hide="hideSubmitButtonFromOwner">Submit
      </button>
    </div>
  </div>
</div>
