<div class="modal" ng-style="showModalSell && {'display':'block'}">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="my-title" id="modalSellLabel">Sell!</h4>
      </div>
      <div class="modal-body">
        <form id="sell-vehicle" class="form-horizontal no-padding"
              name="sell-vehicle" action=""
              method="">
          <label class="control-label col-sm-4">Sell to
            (enter user ID):</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="userId"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="closeModalSell()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="sellVehicleToAnotherOwner()">
          Done
        </button>
      </div>
    </div>
</div>
