<custom-header logged="logged"></custom-header>
<div
  class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" ng-controller="SignUpController">
  <form class="form-horizontal" id="sigUpForm" name="signUpForm"
        ng-submit="checkAndSaveUser(signUpForm.$valid)" ui-keypress="{13:'checkAndSaveUser(signUpForm.$valid)'}" novalidate>
    <fieldset>

      <legend style="color:#009688;">User Sign Up</legend>
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.userName.$invalid && !signUpForm.userName.$pristine }">
        <label for="userName" class="col-md-2 control-label"
               style="font-size:14px;">
          Username:</label>

        <div class="col-md-10">
          <input type="text" class="form-control" id="userName" name="userName"
                 ng-model="user.userName"
                 placeholder="Your username" ng-minlength="8" required>
          <div
            class="alert alert-dismissible alert-danger"
            ng-show="signUpForm.userName.$invalid && !signUpForm.userName.$pristine && signUpForm.userName.$error.minlength">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Must have at least 8 characters!</strong>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
        <label for="password" class="col-md-2 control-label"
               style="font-size:14px;">
          Password:</label>

        <div class="col-md-10">
          <input type="password" class="form-control" id="password"
                 name="password"
                 ng-model="user.password"
                 placeholder="Your password" ng-minlength="8" required>
          <div class="alert alert-dismissible alert-danger" ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine && signUpForm.password.$error.minlength">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Password can contain upper case/lower case letters and numbers.
            <strong>Must
              have at least 8 characters!</strong>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : user.passwordRepeat !== user.password  && signUpForm.passwordRepeat.$dirty }">
        <label for="passwordRepeat" class="col-md-2 control-label"
               style="font-size:14px;">Repeat Password:</label>

        <div class="col-md-10">
          <input type="password" class="form-control" id="passwordRepeat"
                 name="passwordRepeat"
                 ng-model="user.passwordRepeat"
                 placeholder="Repeat your password"
                 required>
          <div
            class="alert alert-dismissible alert-danger"
            ng-show="user.passwordRepeat !== user.password  && signUpForm.passwordRepeat.$dirty">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Passwords must be equal!</strong>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
        <label for="email" class="col-md-2 control-label"
               style="font-size:14px;">
          Email:</label>

        <div class="col-md-10">
          <input type="email" class="form-control" id="email" name="email"
                 ng-model="user.email"
                 placeholder="Your email" required>
          <div class="alert alert-dismissible alert-danger" ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Enter a valid email!</strong>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="userType" class="col-md-2 control-label"
               style="font-size:14px;">User type:</label>

        <div class="col-md-10">
          <select id="userType" class="form-control" name="userType"
                  ng-model="user.userType"
                  ng-options="user.userID as user.userType for user in usertypes" required>
            <option value="">Select User Type</option>
   /
          </select>
          <div class="alert alert-dismissible alert-danger"
               ng-show="signUpForm.userType.$error.required && signUpForm.userType.$dirty">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>You must choose your type!</strong>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.name.$invalid && !signUpForm.name.$pristine }">
        <label for="name" class="col-md-2 control-label"
               style="font-size:14px;">Name:</label>

        <div class="col-md-10">
          <input type="text" class="form-control" id="name" name="name"
                 ng-model="user.name"
                 placeholder="Your name" required>
          <div class="alert alert-dismissible alert-danger" ng-show="signUpForm.name.$invalid && !signUpForm.name.$pristine">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Name can contain only letters!</strong>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for=iAm class="col-md-2 control-label"
               style="font-size:14px;">I
          am:</label>

        <div class="col-md-10">
          <select id="iAm" class="form-control" ng-model="user.iAm"
                  name="iAm"
                  ng-options="user.roleID as user.userRole for user in userroles" required>
            <option value="">Choose your role</option>

          </select>
          <div class="alert alert-dismissible alert-danger" ng-show="signUpForm.iAm.$error.required && signUpForm.iAm.$dirty">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>You must choose your role! (Vehicle owner or
            mechanic)</strong>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.userId.$invalid && !signUpForm.userId.$pristine && signUpForm.userId.$error.minlength }">
        <label for="userId" class="col-md-2 control-label"
               style="font-size:14px;">ID
          :</label>

        <div class="col-md-10">
          <input type="number" class="form-control" id="userId" name="userId"
                 ng-model="user.userId"
                 placeholder="Your ID" ng-minlength="4" required>
          <div class="alert alert-dismissible alert-danger" ng-show="signUpForm.userId.$invalid && !signUpForm.userId.$pristine && signUpForm.userId.$error.minlength">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Id can contain only numbers and must have at least 4
              characters!</strong>
          </div>
        </div>
      </div>
      <div class="form-group">
        <legend style="font-size:12px;color:#555;margin-left:20px;">
          *&nbsp;If you are an infividual, leave your personal ID.<br/>
          <span style="color: transparent;">*</span>&nbsp;If you are a legal
          entity, leave your company registration number.
        </legend>
      </div>
      <div class="alert alert-dismissible alert-success"
           ng-hide="success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong>
        Successfully created new account!
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button id="user-sign-up" type="submit" class="btn btn-primary"
                  ng-disabled="signUpForm.$invalid">
            Submit
          </button>
        </div>
      </div>

    </fieldset>
    <span class="hidden">{{ user }}</span>
  </form>
</div>
