<custom-header logged="logged"></custom-header>
<div class="col-md-12 row-of-text-about">
  <div class="container-fluid col-md-5 hidden-xs hidden-sm col-md-offset-1">
    <img class="img-about-size img-responsive"
         src="../../assets/images/wheel-mechanic.jpg"/>
  </div>

  <div class="container-fluid col-md-5 hidden-xs hidden-sm">
    <h2>What is wheel?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
</div>

<div class="col-sm-12 row-of-text-about">
  <div
    class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg col-sm-offset-1">
    <img class="img-about-size img-responsive"
         src="../../assets/images/wheel-mechanic.jpg"/>
  </div>
  <div
    class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg hidden-xs">
    <h2>What is wheel?</h2>
    <input type="checkbox" class="read-more-state" id="post-1"/>

    <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea modi. Architecto autem, beatae cumque magnam modi molestiae nobis nostrum nulla praesentium quo recusandae sed veniam veritatis vero, voluptatem voluptatum!</span>
    </p>

    <label for="post-1" class="read-more-trigger"></label>
  </div>
</div>

<div class="col-xs-12 row-of-text-about">
  <div
    class="container-fluid col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg">
    <h2>What is wheel?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
</div>

<div class="col-md-12 row-of-text-about">
  <div class="container-fluid col-md-5 hidden-xs hidden-sm col-md-offset-1">
    <h2>How does it work?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
  <div class="container-fluid col-md-5 hidden-xs hidden-sm">
    <img class="img-about-size img-responsive"
         src="../../assets/images/mechanic.jpg"/>
  </div>
</div>
<div class="col-sm-12 row-of-text-about">
  <div
    class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg col-sm-offset-1">
    <h2>How does it work?</h2>
    <input type="checkbox" class="read-more-state" id="post-2"/>

    <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea modi. Architecto autem, beatae cumque magnam modi molestiae nobis nostrum nulla praesentium quo recusandae sed veniam veritatis vero, voluptatem voluptatum!</span>
    </p>

    <label for="post-2" class="read-more-trigger"></label>
  </div>
  <div class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg">
    <img class="img-about-size img-responsive" src="../../assets/images/mechanic.jpg"/>
  </div>
</div>

<div class="col-xs-12 row-of-text-about">
  <div
    class="container-fluid col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg">
    <h2>How does it work?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
</div>

<div class="col-md-12 row-of-text-about">
  <div class="container-fluid col-md-5 hidden-xs hidden-sm col-md-offset-1">
    <img class="img-about-size img-responsive"
         src="../../assets/images/woman-driving-car1.jpg"/>
  </div>
  <div class="container-fluid col-md-5 hidden-xs hidden-sm">
    <h2>What are my obligations?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
</div>
<div class="col-sm-12 row-of-text-about">
  <div
    class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg col-sm-offset-1">
    <img class="img-about-size img-responsive"
         src="../../assets/images/woman-driving-car1.jpg"/>
  </div>
  <div class="container-fluid col-sm-5 hidden-xs hidden-md hidden-lg">
    <h2>What are my obligations?</h2>
    <input type="checkbox" class="read-more-state" id="post-3"/>

    <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.<span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea modi. Architecto autem, beatae cumque magnam modi molestiae nobis nostrum nulla praesentium quo recusandae sed veniam veritatis vero, voluptatem voluptatum!</span>
    </p>

    <label for="post-3" class="read-more-trigger"></label>
  </div>
</div>

<div class="col-xs-12 row-of-text-about">
  <div
    class="container-fluid col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg">
    <h2>What are my obligations?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet
      illum nam obcaecati omnis perferendis quae quisquam rerum sint
      temporibus! Aut dignissimos nam placeat quas quibusdam? Excepturi
      incidunt nihil odit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea error
      expedita facere impedit ipsum omnis quos repellat reprehenderit sit.
      Aliquid deserunt, perspiciatis? Corporis est fuga maxime pariatur
      reiciendis suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eligendi
      exercitationem id officiis ut. Alias animi aspernatur beatae dolore, est
      explicabo hic mollitia omnis quae reiciendis rem tenetur veniam
      voluptatibus.
    </p>
  </div>
</div>
