<custom-header logged="logged"></custom-header>
<div
  class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" ng-controller="SignInController">
  <form class="form-horizontal" id="signInForm" name="signInForm"
        ng-submit="checkAndLoginUser(signInForm.$valid)"
        ui-keypress="{13:'checkAndLoginUser(signInForm.$valid)'}" novalidate>
    <fieldset>
      <legend style="color:#009688;">User Sign In</legend>
      <div class="form-group" ng-class="{ 'has-error' : signInForm.email.$invalid && !signInForm.email.$pristine }">
        <label for="email" class="col-md-2 control-label"
               style="font-size: 14px;">
          Email:</label>

        <div class="col-md-10">
          <input type="email" class="form-control" id="email" name="email"
                 ng-model="user.email"
                 placeholder="Your email" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signInForm.password.$invalid && !signInForm.password.$pristine }">
        <label for="password" class="col-md-2 control-label"
               style="font-size: 14px;">
          Password:</label>

        <div class="col-md-10">
          <input type="password" class="form-control" id="password"
                 name="password" ng-model="user.password"
                 placeholder="Your password" required>
        </div>
      </div>

      <div class="form-group">
        <legend style="font-size:12px;color:#555;margin-left:20px;">
          <div  class="my-title hover-cursor"
                ng-click="ForgotPassword()">Forgot your password?</div>
        </legend>
      </div>

      <div
        class="alert alert-dismissible alert-danger login-failed-alert hidden">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Login failed!</strong>
        <p>It looks like admin has not approved your account yet.</p>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button id="user-sign-in"
                  type="submit"
                  class="btn btn-primary" ng-disabled="signInForm.$invalid">Submit
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <span class="hidden">{{ user }}</span>
</div>
