<custom-header logged="logged"></custom-header>
<div class="main-page-cars-image"
     ng-style="{'background-image':'url(../../assets/images/cars_header.jpg)', 'height':'400px'}">
  <h1 class="carousel-caption">
    <span>
    Take care of your vehicles
      easier
    </span>
  </h1>
</div>
<div class="container-fluid">
  <div class="col-xs-12">
    <div>
      <a href="#sign-up"
         class="btn btn-primary col-sm-6 hidden-xs">
        <h3>SIGN UP</h3>
        <p>Open an account</p>
      </a>
    </div>
    <div>
      <a href="#for-sale" class="btn btn-primary col-sm-6 hidden-xs">
        <h3>FOR SALE</h3>
        <p>See our users' vehicles for sale</p>
      </a>
    </div>
    <div>
      <a href="#sign-up"
         class="btn btn-primary col-xs-12 hidden-sm hidden-md hidden-lg">
        <h3>SIGN UP</h3>
        <p>Open an account</p>
      </a>
    </div>
      <span
        class="section-border-style col-xs-12 hidden-sm hidden-md hidden-lg"></span>
    <div>
      <a href="#for-sale"
         class="btn btn-primary col-xs-12 hidden-sm hidden-md hidden-lg">
        <h3>FOR SALE</h3>
        <p>See our users' vehicles</p>
      </a>
    </div>
  </div>
</div>

