<custom-header logged="logged"></custom-header>
<div class="content-wrapper" ng-init="filter()">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 box-shade"
       style="margin-bottom: 20px;">
    <div class="form-horizontal">
      <div class="col-xs-12">
        <h5 class="my-title">Year of production:</h5>
        <div class="form-group">
          <label for="yearFrom"
                 class="col-xs-3 control-label">from</label>
          <div class="col-xs-9">
            <select id="yearFrom" name="yearFrom"
                    class="form-control" ng-model="yearFrom"
                    ng-change="filter()">
              <option ng-repeat="year in years | filter: limitYearFrom"
                      value="{{ year }}">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="yearTo"
                 class="col-xs-3 control-label">to</label>
          <div class="col-xs-9">
            <select id="yearTo" name="yearTo"
                    class="form-control" ng-model="yearTo" ng-change="filter()">
              <option ng-repeat="year in years | filter: limitYearTo"
                      value="{{ year }}">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <span class="section-border-style col-xs-12"></span>
      <div class="col-xs-12">
        <h5 class="my-title">Brand:</h5>
        <div class="form-group">
          <div class="col-xs-12">
            <select id="brand" name="brand" class="form-control"
                    ng-model="brand" ng-change="filter()">
              <option>All</option>
              <option ng-repeat="brand in brands"
                      value="{{ brand }}">{{ brand }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <span class="section-border-style col-xs-12"></span>
      <div class="col-xs-12">
        <h5 class="my-title">Km:</h5>
        <div class="form-group">
          <label for="kmFrom" class="col-xs-3 control-label">from</label>
          <div class="col-xs-9">
            <select id="kmFrom" name="kmFrom"
                    class="form-control" ng-model="kmFrom" ng-change="filter()">
              <option ng-repeat="km in kms | filter: limitKmFrom"
                      value="{{ km }}">
                {{ km }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="kmTo" class="col-xs-3 control-label">to</label>
          <div class="col-xs-9">
            <select id="kmTo" name="kmTo" class="form-control" ng-model="kmTo"
                    ng-change="filter()">
              <option ng-repeat="km in kms | filter: limitKmTo"
                      value="{{ km }}">
                {{ km }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <div class="row-content">
      <div class="form-horizontal">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <a href="javascript:void(0)"
             class="btn btn-raised btn-primary all-owner-vehicles"
             ng-class="{'active' : tabs == 'all'}"
             ng-click="filter();setTab('all')">All
          </a>
          <a href="javascript:void(0)" id="filter-for-sale"
             class="btn btn-raised btn-primary for-sale-owner-vehicles"
             ng-click="filter();setTab('for sale')"
             ng-class="{'active' : tabs == 'for sale'}"
          >For
            sale</a>
          <a href="javascript:void(0)" id="filter-on-rep"
             class="btn btn-raised btn-primary on-rep-owner-vehicles"
             ng-class="{'active' : tabs == 'on rep'}"
             ng-click="filter();setTab('on rep')">On
            repair</a>
        </div>
        <div class="col-lg-3 no-padding hidden-xs hidden-sm hidden-md">
          <div class="col-lg-12 no-padding">
            <label class="control-label col-lg-4">Sort
              by:</label>
            <div class="col-lg-8 no-padding">
              <select name="sortBy"
                      class="form-control no-padding" ng-model="sortBy"
                      ng-change="filter()">
                <option ng-repeat="option in sortByOptions"
                        value="{{ option }}">
                  {{ option }}
                </option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <a class="btn btn-raised btn-primary"
             ng-click="showAddNewVehicleModal()">Add
            new
            vehicle</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <div class="col-sm-6 col-md-6 col-lg-12 no-padding">
            <input type="text" class="form-control" id="searchVehicles"
                   name="searchVehicles"
                   ng-model="searchVehicles"
                   placeholder="Search" ng-change="filter()"/>
          </div>
          <div class="col-sm-6 col-md-6">
          </div>
        </div>
      </div>
    </div>
    <div
      class="form-group col-xs-12 col-sm-12 col-md-12 hidden-lg no-padding">
      <div class="col-sm-10 col-md-6 col-lg-9 no-padding">
        <label class="control-label col-xs-4 col-sm-3 col-md-3 col-lg-2">Sort
          by:</label>
        <div class="col-xs-8 col-sm-4 col-md-6 col-lg-3 no-padding">
          <select name="sortBy"
                  class="form-control no-padding" ng-model="sortBy"
                  ng-change="filter()">
            <option ng-repeat="option in sortByOptions"
                    value="{{ option }}">
              {{ option }}
            </option>

          </select>
        </div>
        <div class="hidden-xs col-sm-2 col-md-6 col-lg-3 no-padding"></div>
      </div>
    </div>
    <div id="show-vehicles"
         class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
      <car-for-sale car-object="car" ref="ref"
                    sell-vehicle="openSellVehicleModal"
                    ng-repeat="car in vehicleObjArr"></car-for-sale>
    </div>
  </div>

  <add-new-vehicle-modal></add-new-vehicle-modal>
  <sell-vehicle-modal></sell-vehicle-modal>

</div>
