
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0px;
  padding: 0px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

@media only screen  and (min-width : 1224px) {
  .one-car {
    height: 231px;
  }
}


.content-wrapper {
  margin-top: 0px;
  padding: 0px;
  padding-bottom: 50px;
}

.upper {
  text-transform: uppercase;
}

#wheel-logo-size {
  max-height: 60px;
}

.brand-name-size {
  font-size: 22px;
}

.btn {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.section-border-style {
  border: 1px solid #009688;
  margin-top: 5px;
}

.btn p {
  text-transform: none;
}

.img-about-size {
  max-height: 350px;
}

.row-of-text-about {
  margin-top: 20px;
  display: flex;
}

.row-of-text-about h2, .row-of-text-about p {
  align-self: stretch;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

.row-of-text-about p {
  padding: 2%;
}

.form-horizontal {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.form-horizontal .form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.form-group label.control-label {
  margin: 8px 0px 0px 0px !important;
}

.form-group input {
  margin-left: 10px !important;
}

.pencil-icon-wrapper, .pencil-click-to-edit {
  display: none;
}

.my-title {
  color: #009688;
}

.box-shade {
  box-shadow: 10px 0 10px 0 #aaaaaa;
}

.row-content .btn {
  margin-top: 0px;
  text-transform: capitalize;
}

label {
  font-size: 14px !important;
}

/*input, input::-webkit-input-placeholder {*/
/*font-size: 14px !important;*/
/*line-height: 2 !important;*/
/*font-weight: lighter;*/
/*text-transform: lowercase;*/
/*}*/

/*input::-moz-placeholder {*/
/*font-size: 14px !important;*/
/*line-height: 2 !important;*/
/*font-weight: lighter !important;*/
/*text-transform: lowercase;*/
/*}*/

optgroup {
  font-size: 15px !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

.car-image-preview-size {
  max-width: 250px !important;
}

.row-content strong {
  display: inline;
}

.car-properties-row {
  border-bottom: 1px solid #009688;
  margin-top: 10px;
  padding-bottom: 10px;
}

.slider-margin {
  margin-bottom: 20px;
}

.cap {
  text-transform: capitalize;
}

.form-group label.control-label, label.control-label {
  font-size: 13px;
  line-height: 1.07142857;
  color: #3f3f3f;
  font-weight: 400;
  margin: 16px 0 0 0;
}

.label-for-sale:hover, .label-on-repairs:hover {
  background-color: transparent !important;
  cursor: default !important;
}
.button-label {
  cursor: default !important;
}

.label-for-sale {
  color: limegreen !important;
}

.label-on-repairs {
  color: #ff2d23 !important;
}

@media all and (max-device-width: 720px) {
  h1 {
    font-size: 24px !important;
  }
}

@media all and (max-device-width: 640px) {
  h1 {
    font-size: 22px !important;
  }
}

@media all and (max-device-width: 320px) {
  h1, h3 {
    font-size: 14px !important;
  }
}
.hover-cursor:hover {
  cursor: pointer;
}
table {
  table-layout: fixed;
}
table tr {
  height: 1em;
}
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.small-pencil-icon {
  color: #009688;
  font-size: 16px;
}
span {
  display: inline-block;
}
.vehicle-properties strong {
  display: inline-block;
  font-size: 16px;
}
.servicing strong {
  display: inline-block;
  font-size: 16px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: rgba(255, 255, 255, 0.84);
  background-color: #009688 !important;
}
.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #009688 !important;
  background-color: rgba(255, 255, 255, 0.84);
}
a > .badge {
  color: #009688 !important;
  background-color: rgba(255, 255, 255, 0.84);
}
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background-color: rgba(154, 212, 207, 0.22) !important;
}
.nav-left-text-size {
  font-size: 15px;
}
#notification-list {
  -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
}
#notification-list li {
  padding: 10px;
  color: #333 !important;
  float: none;
  white-space: nowrap;
  clear: both;
  min-height: 60px;
  -webkit-box-shadow: 0 4px 4px rgba(72, 68, 70, 0.2);
  -moz-box-shadow: 0 4px 4px -2px rgba(72, 68, 70, 0.2);
  box-shadow: 0 4px 4px -2px rgba(72, 68, 70, 0.2);
}
#notification-list li .btn {
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 5px;
}
@media (max-width: 768px) {
  #notification-list {
    background-color: #fff;
    -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    box-shadow: 0px 3px 8px rgb(100, 100, 100);
  }
  #notification-list li {
    white-space: initial !important;
    -webkit-box-shadow: 0 4px 4px rgba(72, 68, 70, 0.2);
    -moz-box-shadow: 0 4px 4px -2px rgba(72, 68, 70, 0.2);
    box-shadow: 0 4px 4px -2px rgba(72, 68, 70, 0.2);
    color: #333 !important;
  }
}
#notification-list #not-buttons {
  width: auto;
  float: right;
}
#messages-alert, #report-alert {
  display: none;
}
.new-message-mark {
  font-weight: bold;
  font-style: italic;
}
.mechanic-only {
  visibility: hidden;
}
.login-failed-alert {
  display: none;
}
.alert-incorrect-email-or-pass {
  display: none;
}
.button-cancel {
  visibility: hidden;
}
#myCarousel.vehicle-preview-slider {
  height: 500px !important;
  overflow: hidden !important;
}
.button-select-as-main-photo {
  margin-right: 5px;
}
.button-delete-photo {
  margin-left: 5px;
}
.no-v-found {
  padding-left: 20px;
  color: #009688;
}
.displayNone {
  display: none;
}
.main-page-cars-image {
  position: relative;
  width: 100%;
}
.main-page-cars-image h1 {
  position: absolute;
}
.main-page-cars-image h1 span {
  color: white;
  letter-spacing: 2px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 18px;
}
.form-group:hover .pencil-icon-wrapper {
  display: inline !important;
}
.edit-wrapper:hover .pencil-icon-wrapper {
  display: inline !important;
}
.edit-wrapper:hover .pencil-click-to-edit {
  display: inline !important;
}
.small-close-icon {
  color: #961a24;
  font-size: 16px;
}
@media (min-width: 768px) {
  #add-new-photo {
    margin-top: 48%;
    margin-left: 37%;
  }
}
@media (max-width: 768px) {
  #add-new-photo {
    margin-top: 5%;
  }
}
/* modals */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 50%
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
