<custom-header logged="logged"></custom-header>
<div class="content-wrapper">
  <div class="col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h4 class="my-title col-md-6" style="margin-bottom: 7.2%;">Vehicle
        preview</h4>
      <div id="vehicle-labels" class="col-md-6">
        <label class="btn label-for-sale col-xs-12 col-md-12 no-padding"
               ng-show="showForSaleLabel">For sale
        </label>
        <label class="btn label-on-repairs col-xs-12 col-md-12
               no-padding" ng-show="showOnRepLabel;">On
          Reparations</label>
      </div>
      <div class="col-xs-12 vehicle-properties">
        <form name="edit-vehicle" action="" method="">
          <p ng-init="disableBrandChange=true;">
            <strong>Brand:</strong>
             <span class="edit-wrapper">
               <select id="ddl-brand" ng-model="brand"
                       ng-change="selectModelFromEdmunds()"
                       ng-disabled="disableBrandChange">
                 <option ng-repeat="brand in edmundsArr"
                         value="{{ brand }}">{{ brand }}
                 </option>

               </select>
              <span class="pencil-icon-wrapper"
                    ng-click="disableBrandChange = !disableBrandChange;">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableBrandChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableBrandChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableModelChange=true;">
            <strong>Model:</strong>
             <span class="edit-wrapper">
               <select id="ddl-model" ng-model="model"
                       ng-disabled="disableModelChange">
                 <option ng-repeat="model in edmundsModels"
                         value="{{ model }}">{{ model }}
                 </option>
               </select>
               <span class="pencil-icon-wrapper"
                     ng-click="disableModelChange = !disableModelChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableModelChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableModelChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableYearChange=true;">
            <strong>Year:</strong>
             <span class="edit-wrapper">
               <span id="year" class="edit-value" ng-show="disableYearChange">
                 {{ year }}
               </span>
               <span ng-hide="disableYearChange">
                  <input type="text" required ng-model="year"/>
               </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableYearChange = !disableYearChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableYearChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableYearChange">close
                </i>
              </span>
            </span>
          </p>
          <p>
            <strong>Owner:</strong>
             <span class="edit-wrapper">
              <span id="owner" class="edit-value">
                {{ owner }}
              </span>
            </span>
          </p>
          <p ng-init="disablePlateChange=true;">
            <strong>Plates:</strong>
            <span class="edit-wrapper">
              <span id="plate" class="edit-value" ng-show="disablePlateChange">
                {{ plate }}
              </span>
              <span ng-hide="disablePlateChange">
                <input type="text" required ng-model="plate"/>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disablePlateChange = !disablePlateChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disablePlateChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disablePlateChange">close
                </i>
              </span>
            </span>
          </p>
          <p>
            <strong>ID:</strong>
            <span class="edit-wrapper">
              <span id="id" class="edit-value">
                {{ id }}
              </span>

            </span>
          </p>
          <p ng-init="disableRegUntilChange=true;">
            <strong>Registered until:</strong>
            <span class="edit-wrapper">
              <span id="regUntil" class="edit-value"
                    ng-show="disableRegUntilChange">
                {{ regUntil }}
              </span>
              <span ng-hide="disableRegUntilChange">
                <input type="text" required ng-model="regUntil"/>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableRegUntilChange = !disableRegUntilChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableRegUntilChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableRegUntilChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableCcmChange=true;">
            <strong>cCM:</strong>
            <span class="edit-wrapper">
              <span id="ccm" class="edit-value" ng-show="disableCcmChange">
                {{ ccm }}
              </span>
              <span ng-hide="disableCcmChange">
                <input type="text" required ng-model="ccm"/>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableCcmChange = !disableCcmChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableCcmChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableCcmChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableKmChange=true;">
            <strong>Km:</strong>
            <span class="edit-wrapper">
              <span id="km" class="edit-value" ng-show="disableKmChange">
                {{ km }}
              </span>
              <span ng-hide="disableKmChange">
                <input type="text" required ng-model="km"/>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableKmChange = !disableKmChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableKmChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableKmChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableForSaleChange=true;">
            <strong>For Sale?</strong>
            <span class="edit-wrapper">
              <span id="sale" class="edit-value" ng-show="disableForSaleChange">
                {{ forSale }}
              </span>
              <span ng-hide="disableForSaleChange">
                <select ng-model="forSale">
                  <option>yes</option>
                  <option>no</option>
                </select>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableForSaleChange = !disableForSaleChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableForSaleChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableForSaleChange">close
                </i>
              </span>
            </span>
          </p>
          <p ng-init="disableOnRepChange=true;">
            <strong>On reparation?</strong>
            <span class="edit-wrapper">
              <span id="onRep" class="edit-value" ng-show="disableOnRepChange">
                {{ onRep }}
              </span>
              <span ng-hide="disableOnRepChange">
                  <select ng-model="onRep">
                    <option>yes</option>
                    <option>no</option>
                  </select>
              </span>
              <span class="pencil-icon-wrapper"
                    ng-click="disableOnRepChange = !disableOnRepChange">
                <i class="material-icons small-pencil-icon"
                   ng-show="disableOnRepChange">edit
                </i>
                <i class="material-icons small-close-icon"
                   ng-hide="disableOnRepChange">close
                </i>
              </span>
            </span>
          </p>
          <p class="show-save-on-pencil-click">
            <button type="button"
                    class="btn btn-raised btn-primary"
                    ng-click="updateVehicle()" ng-disabled="enableSave">Save
            </button>
          </p>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="vehicle-carousel" ng-controller="CarouselDemoCtrl">
        <div style="height: 305px">
          <uib-carousel active="active" interval="myInterval"
                        no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides track by slide.id"
                       index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <p>
                  <a ng-show="slide.id == 0"
                     class='btn btn-raised btn-primary cap owner-only button-label'>Main
                    photo</a>
                  <a
                    ng-show="slide.id != 0" ng-click="selectAsMain(slide.key)"
                    class='btn btn-raised btn-primary cap'>Select as main
                    photo</a>
                  <a
                    ng-show="slide.id != 0" ng-click="deletePhoto(slide.key)"
                    class='btn btn-raised btn-primary cap'>Delete photo</a>
                </p>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button ng-hide="true" type="button" class="btn btn-info"
                    ng-click="addSlide()">Add
              Slide
            </button>
            <button ng-hide="true" type="button" class="btn btn-info"
                    ng-click="randomize()">
              Randomize slides
            </button>
            <div class="checkbox" ng-hide="true">
              <label>
                <input type="checkbox" ng-model="noWrapSlides">
                Disable Slide Looping
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div ng-hide="true">Interval, in
              milliseconds:
              <input type="number" class="form-control" ng-model="myInterval">
              <br/>Enter a negative number or 0 to stop the interval.
            </div>
            <button id="add-new-photo" type="button"
                    class="btn btn-raised btn-primary"
                    ng-click="showPhotoModal()">Add
              New Photo
            </button>
          </div>
        </div>
        <add-new-photo-modal></add-new-photo-modal>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-12 col-md-7" style="margin-top: 20px;">
      <h4 class="my-title col-md-6">Previous
        servicing</h4>

      <table class="table table-striped table-hover zebra">
        <thead>
        <tr>
          <th>Date</th>
          <th>Mechanist</th>
          <th>Km</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody id="previous-servicing-table">
        <tr data-toggle='modal' data-target='#myModal'
            class='modalStart hover-cursor'
            ng-repeat="entry in entries track by $index"
            ng-click="showPreviousServicingModal(entry)">
          <td>
            {{ entry.obj.date }}
          </td>
          <td>
            {{ entry.name }}
          </td>
          <td>
            {{ entry.obj.distance }}
          </td>
          <td>
            {{ entry.obj.report }}
          </td>
        </tr>
        </tbody>
      </table>
      <a id="button-new-service" href="#add-new-service" data-toggle="modal"
         class="btn btn-raised btn-primary cap mechanic-only">Add new
        service</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5"></div>
  </div>

  <previous-servicing-modal></previous-servicing-modal>

</div>
