<custom-header logged="logged"></custom-header>
<div class="col-xs-12 col-md-10 col-md-offset-1" ng-init="loadMessages()">
  <div class="row-content">
    <ul class="nav nav-pills">
      <li>
        <a
          class="btn btn-raised btn-primary active"
          ng-class="{'active' : tabs == 'inbox'}"
          ng-click="setTab('inbox');loadMessages();">Inbox
          <span class="badge my-color">{{countInbox}}</span></a>
      </li>
      <li>
        <a
          class="btn btn-raised btn-primary"
          ng-class="{'active' : tabs == 'sent'}"
          ng-click="setTab('sent');loadMessages();">Sent</a>
      </li>
      <li>
        <a
          class="btn btn-raised btn-primary"
          ng-class="{'active' : tabs == 'drafts'}"
          ng-click="setTab('drafts');loadMessages()">Drafts</a>
      </li>
    </ul>
  </div>
  <div class="row-content">
    <table class="table table-striped table-hover zebra">
      <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Title</th>
        <th>Begining of the message...</th>
      </tr>
      </thead>
      <tbody>
      <tr
        ng-class="{'new-message-mark' : message.obj.read == false && tabs == 'inbox'}"
          class='hover-cursor'
          ng-repeat="message in messages track by $index">
        <td class='modal-message' ng-click="checkTab(message)">
          {{message.obj.date}}
        </td>
        <td class='modal-message' ng-click="checkTab(message)">
          {{message.name}}
        </td>
        <td class='modal-message' ng-click="checkTab(message)">
          {{message.obj.subject}}
        </td>
        <td class='modal-message' ng-click="checkTab(message)">
          {{message.obj.body}}
        </td>
        <td ng-if="tabs != 'sent' && tabs != 'drafts'"><a
          class='btn btn-raised btn-primary' ng-click="sendNewMessage(message)">Respond</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <message-modal></message-modal>
  <new-message-modal></new-message-modal>
</div>
