<custom-header logged="logged"></custom-header>
<div class="content-wrapper" ng-init="filter()">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 box-shade"
       style="margin-bottom: 20px;">
    <div class="form-horizontal">
      <div class="col-xs-12">
        <h5 class="my-title">Year of production:</h5>
        <div class="form-group">
          <label for="yearFrom"
                 class="col-xs-3 control-label">from</label>
          <div class="col-xs-9">
            <select id="yearFrom" name="yearFrom"
                    class="form-control" ng-model="yearFrom" ng-change="filter()">
              <option ng-repeat="year in years | filter: limitYearFrom"
                      value="{{ year }}">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="yearTo"
                 class="col-xs-3 control-label">to</label>
          <div class="col-xs-9">
            <select id="yearTo" name="yearTo"
                    class="form-control" ng-model="yearTo" ng-change="filter()">
              <option ng-repeat="year in years | filter: limitYearTo"
                      value="{{ year }}">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <span class="section-border-style col-xs-12"></span>
      <div class="col-xs-12">
        <h5 class="my-title">Brand:</h5>
        <div class="form-group">
          <div class="col-xs-12">
            <select id="brand" name="brand" class="form-control"
                    ng-model="brand" ng-change="filter()">
              <option>All</option>
              <option ng-repeat="brand in brands"
                      value="{{ brand }}">{{ brand }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <span class="section-border-style col-xs-12"></span>
      <div class="col-xs-12">
        <h5 class="my-title">Km:</h5>
        <div class="form-group">
          <label for="kmFrom" class="col-xs-3 control-label">from</label>
          <div class="col-xs-9">
            <select id="kmFrom" name="kmFrom"
                    class="form-control" ng-model="kmFrom" ng-change="filter()">
              <option ng-repeat="km in kms | filter: limitKmFrom"
                      value="{{ km }}">
                {{ km }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="kmTo" class="col-xs-3 control-label">to</label>
          <div class="col-xs-9">
            <select id="kmTo" name="kmTo" class="form-control" ng-model="kmTo" ng-change="filter()">
              <option ng-repeat="km in kms | filter: limitKmTo"
                      value="{{ km }}">
                {{ km }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <div class="row-content">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <ul class="nav nav-pills">
          <li><a>
            <h4 class="my-title no-padding" style="cursor: default; ">For
              Sale
              <span id="number-of-cars-for-sale">({{ numberOfCars }})</span></h4></a></li>
        </ul>
      </div>
      <div class="form-horizontal">
        <div
          class="form-group col-xs-12 col-sm-7 col-md-7 col-lg-5 no-padding">
          <label for="sortBy"
                 class="control-label col-xs-4 col-sm-6 col-md-6">Sort
            by:</label>
          <div class="col-xs-6 col-sm-6 col-md-6 no-padding">
            <select id="sortBy" name="sortBy"
                    class="form-control no-padding" ng-model="sortBy"
                    ng-change="filter()">
              <option ng-repeat="option in sortByOptions"
                      value="{{ option }}">
                {{ option }}
              </option>

            </select>
          </div>
          <div
            class="col-xs-2 hidden-sm hidden-md hidden-lg no-padding"></div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
          <div class="col-sm-10 col-md-8 col-lg-12 no-padding">
            <input type="text" class="form-control" id="searchVehicles"
                   name="searchVehicles"
                   ng-model="searchVehicles"
                   placeholder="Search" ng-change="filter()"/>
          </div>
          <div class="col-sm-2 col-md-4">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">

      <car-for-sale car-object="car" ref="ref"
                    send-message="sendMessageToOwner" sell-vehicle="openSellVehicleModal"
                    ng-repeat="car in carsForSaleObjArr"></car-for-sale>
    </div>

  </div>

  <div class="modal fade" id="modalSell" tabindex="-1" role="dialog"
       aria-labelledby="modalSellLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="my-title" id="modalSellLabel">Sell!</h4>
        </div>
        <div class="modal-body">
          <form id="sell-vehicle" class="form-horizontal no-padding"
                name="sell-vehicle" action=""
                method="">
            <label for="tb-user-id" class="control-label col-sm-4">Sell to
              (enter user ID):</label>
            <div class="col-sm-8">
              <input type="text" id="tb-user-id" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default clear-form"
                  data-dismiss="modal">
            Cancel
          </button>
          <button id="button-sell-car" type="button"
                  class="btn btn-primary">Done
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new-message" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="form-new-message" action="" method="" name="respond">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <p>
              <strong>To:</strong>
                 <span id="email-to">

                </span>
            </p>
            <p>
              <strong>Title:</strong>
                <span class="email-respond">
                  <input type="text"
                         id="tb-message-title"/>
                  </span>
            </p>
            <p>
              <strong>Message:</strong>
            <div class="email-respond">
              <textarea id="ta-message" cols="50" rows="3"></textarea>
            </div>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save draft</button>
            <button type="button" class="btn btn-default clear-form"
                    data-dismiss="modal">Discard
            </button>
            <button id="button-send-message" type="button"
                    class="btn btn-primary">Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <new-message-modal></new-message-modal>
  <sell-vehicle-modal></sell-vehicle-modal>
</div>
