<custom-header logged="logged"></custom-header>
<div class="col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <form class="form-horizontal" name="profileUpdateForm" action="" method="">
    <fieldset>
      <legend style="color:#009688;">Profile</legend>
      <div class="form-group">
        <label for="tb-user-name" class="col-md-2 control-label"
               style="font-size:14px;">Username:</label>

        <div class="col-md-10" ng-init="disableUserNameChange = true;">
          <div class="col-md-10">
            <input type="text" class="form-control" id="tb-user-name"
                   ng-model="userName"
                   placeholder="username" ng-disabled="disableUserNameChange">
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableUserNameChange = !disableUserNameChange"
               focus-input>
            <i class="material-icons hover-cursor"
               ng-show="disableUserNameChange">edit</i>
            <i class="material-icons" ng-hide="disableUserNameChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tb-old-pass" class="col-md-2 control-label"
               style="font-size:14px;">Password:</label>
        <div class="col-md-10" ng-init="disablePasswordChange = true;">
          <div class="col-md-5">
            <input type="password" class="form-control" id="tb-old-pass"
                   ng-model="oldPassword"
                   placeholder="old password"
                   ng-disabled="disablePasswordChange">
          </div>
          <div class="col-md-5">
            <input type="password" class="form-control" id="tb-new-pass"
                   ng-model="newPassword"
                   placeholder="new password"
                   ng-disabled="disablePasswordChange">
          </div>
          <div id="update-password" class="col-md-2 pencil-icon-wrapper"
               ng-click="disablePasswordChange = !disablePasswordChange"
               focus-input>
            <i class="material-icons hover-cursor"
               ng-show="disablePasswordChange">edit</i>
            <i class="material-icons" ng-hide="disablePasswordChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tb-email" class="col-md-2 control-label"
               style="font-size:14px;">Email:</label>
        <div class="col-md-10" ng-init="disableEmailChange = true;">
          <div class="col-md-5">
            <input type="email" class="form-control" id="tb-email"
                   ng-model="email"
                   placeholder="new email" ng-disabled="disableEmailChange">
          </div>
          <div class="col-md-5">
            <input type="password" class="form-control" id="tb-pass-for-email"
                   placeholder="password" ng-disabled="disableEmailChange"
                   ng-model="pass">
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableEmailChange = !disableEmailChange" focus-input>
            <i class="material-icons hover-cursor" ng-show="disableEmailChange">edit</i>
            <i class="material-icons" ng-hide="disableEmailChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ddl-user-type" class="col-md-2 control-label"
               style="font-size:14px;">User type:</label>
        <div class="col-md-10" ng-init="disableUserTypeChange = true;">
          <div class="col-md-10">
            <select id="ddl-user-type" class="form-control"
                    ng-disabled="disableUserTypeChange"
                    ng-model="userType">
              <option value="Legal entity">Legal entity</option>
              <option value="Individual">Individual</option>
            </select>
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableUserTypeChange = !disableUserTypeChange">
            <i class="material-icons hover-cursor"
               ng-show="disableUserTypeChange">edit</i>
            <i class="material-icons" ng-hide="disableUserTypeChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tb-name" class="col-md-2 control-label"
               style="font-size:14px;">Name:</label>
        <div class="col-md-10" ng-init="disableNameChange = true;">
          <div class="col-md-10">
            <input type="text" class="form-control" id="tb-name"
                   ng-model="name" placeholder="name"
                   ng-disabled="disableNameChange">
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableNameChange = !disableNameChange" focus-input>
            <i class="material-icons hover-cursor" ng-show="disableNameChange">edit</i>
            <i class="material-icons" ng-hide="disableNameChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ddl-i-am" class="col-md-2 control-label"
               style="font-size:14px;">I am:</label>
        <div class="col-md-10" ng-init="disableRoleChange = true;">
          <div class="col-md-10">
            <select id="ddl-i-am" class="form-control"
                    ng-disabled="disableRoleChange"
                    ng-model="iAm">
              <option value="Vehicle owner">Vehicle Owner</option>
              <option value="Mechanic">Mechanic</option>
            </select>
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableRoleChange = !disableRoleChange">
            <i class="material-icons hover-cursor" ng-show="disableRoleChange">edit</i>
            <i class="material-icons" ng-hide="disableRoleChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tb-id" class="col-md-2 control-label"
               style="font-size:14px;">ID:</label>
        <div class="col-md-10" ng-init="disableIdChange = true;">
          <div class="col-md-10">
            <input type="text" class="form-control" id="tb-id" ng-model="id"
                   value="id"
                   placeholder="ID" ng-disabled="disableIdChange">
          </div>
          <div class="col-md-2 pencil-icon-wrapper"
               ng-click="disableIdChange = !disableIdChange" focus-input>
            <i class="material-icons hover-cursor" ng-show="disableIdChange">edit</i>
            <i class="material-icons" ng-hide="disableIdChange">close</i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <legend style="font-size:11px;color:#555;margin-left:20px;">
          *&nbsp;If you are an individual, leave your personal ID.<br/>
          <span style="color:transparent;">*</span>&nbsp;If you are a legal
          entity, leave your company registration number.
        </legend>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button id="profile-change" type="button" class="btn btn-primary"
                  ng-click="profileUpdate()">
            Submit
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <div id="show-my-cars" class="list-group">
    <h4 id="label-list-cars" style="color:#009688; padding-bottom: 20px;">My
      cars</h4>

    <div ng-repeat="car in myCarsArr">
      <div class='list-group-item'>
        <div class='row-picture'>
          <img class='circle' src='../../assets/images/car_icon.png'
               alt='car-icon'/>
        </div>
  <span style='position:absolute;top:30%;'>
    <h4 class='list-group-item-heading'>
      <a class="hover-cursor" ng-click="showThisCar(car.id);">
        {{ car.brand }} {{ car.model }}
      </a>
    </h4>
  </span>
      </div>
      <div class='list-group-separator'></div>
    </div>

  </div>
  <div id="det-preview">

  </div>
</div>
