<div id="{{ carObject.id }}"
  class='car-properties-row col-xs-12 col-sm-12 col-md-12 col-lg-12 one-car'>
  <img ng-src="{{carObject.image}}" alt='car image'
       class='car-image-preview-size col-xs-6 col-sm-6 col-md-3 col-lg-3'/>
  <div class='col-xs-6 col-sm-6 col-md-4 col-lg-5'>
    <p><strong>Brand: </strong>
      {{ carObject.brand }}
    </p>
    <p><strong>Model: </strong>
      {{ carObject.model}}
    </p>
    <p><strong>Year: </strong>
      {{ carObject.year }}
    </p>
    <p><strong>Km: </strong>
      {{ carObject.km }}
    </p>
    <p><strong>Last repair: </strong>
      {{ carObject.lastRepair }}
    </p>
  </div>
  <div class='col-xs-12 col-sm-12 col-md-5 col-lg-4 no-padding'>
    <div class='col-xs-6 col-sm-5 col-md-6 col-lg-6 no-padding'></div>
    <div class='col-xs-12 col-sm-7 col-md-6 col-lg-6 no-padding'>
      <label ng-show="carObject.forSale == 'yes'"
             class='btn label-for-sale'>For sale</label>
      <label ng-show="carObject.onRep == 'yes'" class='btn label-on-repairs'>On repairs</label>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div ng-show="ref != null"
           class='col-xs-12 col-sm-6 col-lg-5 no-padding'>
        <a ng-show="carObject.ownerId != ref"
           class='btn btn-raised btn-primary cap' ng-click="sendMessage(carObject.ownerId)">Send Message</a>
        <a ng-show="carObject.ownerId == ref"
           class='btn btn-raised btn-primary' ng-click="sellVehicle(carObject.id)">Sell</a>
      </div>
      <div class='col-xs-12 col-sm-6 col-lg-7 no-padding'>
      </div>
    </div>
  </div>
</div>


