<div ng-controller="LoadHeaderController" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" id="nav-left-logo">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-responsive-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/"><img id="wheel-logo-size"
                        src="../../assets/images/wheel_logo.png"
                        alt="wheel-logo"/>
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse"
         collapse="navCollapsed">
      <ul class="nav navbar-nav brand-name-size" id="nav-left">
        <li
          ng-show="role === 'Guest'"><a href="#/">Wheel</a></li>
        <li ng-show="role === 'Vehicle owner'"><a
          class='upper nav-left-text-size' href='#mail'>mail
          <span id='email-badge' class='badge'>{{numberOfUnreadMessages}} </span></a></li>
        <li class='dropdown'
            ng-show="role === 'Vehicle owner' || role === 'Mechanic'" uib-dropdown>
          <a class='upper nav-left-text-size dropdown-toggle' data-target='#'
             data-toggle='dropdown' href='' uib-dropdown-toggle>notifications <span
            id='notification-badge' class='badge'>{{numberOfUnseenNotifications}} </span></a>
          <ul id='notification-list' class='dropdown-menu' uib-dropdown-menu onclick='event.stopPropagation();'>
            <notification notification-object="notification"
                          decline-sell="declineNotificationSell"
                          accept-sell="acceptNotificationSell"
                          ok-on-response="okResponseNotification"
                          ng-repeat="notification in notificationsArr"></notification>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right" id="nav-right">
        <li ng-show="role === 'Mechanic'"><a class='upper' href='#mechanic'>index</a></li>
        <li ng-show="role === 'Vehicle owner'"><a class='upper' href='#owner'>index</a></li>
        <li ng-show="role === 'admin'"><a class='upper' href='#'>index</a></li>
        <li ng-show="role === 'admin'"><a class='upper' href='#users'>users</a></li>
        <li><a class='upper' href='#for-sale'>for sale</a></li>
        <li ng-show="role === 'Guest'"><a class='upper' href='#about'>about</a></li>
        <li
          ng-show="role === 'Mechanic' || role === 'Vehicle owner' || role === 'admin'"><a class='upper' href='#profile'>profile</a></li>
        <li ng-show="role === 'Guest'"><a class='upper' href='#sign-in'>sign in</a></li>
        <li ng-show="role === 'Guest'"><a class='upper' href='#sign-up'>sign up</a></li>
        <li
          ng-show="role === 'Mechanic' || role === 'Vehicle owner' || role === 'admin'"><a ng-click="signOut()" class='upper hover-cursor'>sign out</a></li>
      </ul>
    </div>
  </div>
</div>
