<li>
  {{notificationObject.obj.body}}
  <div id='not-buttons'>
    <a
      ng-if="notificationObject.obj.type == 'sell' || notificationObject.obj.type == 'repair'" class='btn btn-raised btn-primary' ng-click="declineSell(notificationObject.key)">Decline</a>
    <a
      ng-if="notificationObject.obj.type == 'sell' || notificationObject.obj.type == 'repair'" class='btn btn-raised btn-primary' ng-click="acceptSell(notificationObject.key)">Accept</a>
    <a
      ng-if="notificationObject.obj.type == 'response-sell' ||
       notificationObject.obj.type == 'response-repair' ||
       notificationObject.obj.type == 'finished-repair' ||
       notificationObject.obj.type == 'canceled-repair' ||
       notificationObject.obj.type == 'registration-reminder' ||
       notificationObject.obj.type == 'service-reminder'"
      class='btn btn-raised btn-primary' ng-click="okOnResponse(notificationObject.key)">Ok</a>
  </div>
</li>

